html {
    height: 100%;
    background: -webkit-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
    background: -o-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
    background: -moz-linear-gradient(left,red,orange,yellow,green,blue,indigo,violet);
    background: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='green', endColorstr='indigo',GradientType=1 );
}
video, canvas, img {
    display: block;
    border: 10px solid;
    border-radius: 1em;
}
video {
    float: left;
}
canvas {
    float: right;
}
img {   
    display: block;
    margin: auto auto;
}
#startbutton {
    clear: both;
    background: green;
    border: none;
    color: #fff;
    display:block;
    margin: auto auto;
    padding: 10px 20px;
    font-size: 20px;
}
#container {
    overflow: hidden;
    width: 760px;
    margin: 60px auto;
}
